:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: linear-gradient(
    to top,
    #8ecdff,
    #5bdfff,
    #36eef3,
    #5ef9d1,
    #9fffa6
  );

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  justify-content: center;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


@media (max-width: 1280px) {
  :root {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 840px) {
  :root {
    font-size: 10px;
    line-height: 16px;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 8px;
    line-height: 14px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 7px;
    line-height: 12px;
  }
}